<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: inherit;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 style="position: fixed;">Añadir nueva Propiedad</h4>
            </div>

            <div class="modal-body">
                <form *ngIf="nombreAccion == 'Continuar'">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputValor">Valor</label>
                            <textarea class="form-control" id="inputValor" rows="2" placeholder="Valor"></textarea>
                        </div>
                        <!-- <div class="form-group col-md-4">
                <label for="inputSuc">Sucursal</label>
                <input type="text" (click)="listarSuc()" id="inputSuc" class="form-control" placeholder="Sucursal">
                <div *ngIf="listar" id="suc">
                    <p *ngFor="let suc of sucursales">
                        <input (click)="agregarSucSeleccionada(suc.numero,suc.nombre)" type="checkbox">
                        <span>{{suc.nombre}}</span> 
                    </p>
                </div>
              </div> -->
                    </div>
                    <div class="form-group">
                        <label for="inputDescr">Descripción</label>
                        <textarea class="form-control" id="inputDescr" cols="10" rows="3"
                            placeholder="Descripción"></textarea>
                    </div>
                </form>

                <div class="card" *ngIf="nombreAccion == 'Finalizar'"  style="overflow: auto;">
                    


                </div>


            </div>

            <div class="modal-footer">
                <button *ngIf="nombreAccion == 'Continuar'" (click)="ContinuarAgregar()" type="button" id="continuar"
                    class="btn btn-primary">Continuar</button>
                <button (click)="finalizarAgregar()" data-dismiss="modal" type="button"
                    class="btn btn-primary">Finalizar</button>
            </div>

            <input type="button" value="Genera una tabla" (click)="generaTabla()">
        </div>
       
    </div>
</div>