#suc{
    height: 150px;
    overflow: auto;
    background-color:#000000a8;
    margin-bottom: -150px;
    color: white;
    margin-top: -2px;
}

#suc p:hover{
    background-color: #d17049;
}

#suc p{
    margin-bottom: 0px;
    font-size: 16px;
    padding-left: 10px;
}

#inputSuc{
    background-image:url("../../../imgs/abajo3.png");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: right;
}

#continuar{
    margin-right: -88px;
    z-index: 100;
}