<div class="container">
        
    
        <!-- <button (click)="Listar()" type="button" class="btn btn-info">Listar</button> -->
        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-info" style="margin-right:10px;">Añadir</button>
        <button (click)="Actualizar()" type="button" class="btn btn-warning" style="margin-right:10px;">Actualizar</button> 
    </div>
    
    <hr>

<div class="container"> 
        <div *ngIf="correcto" class="alert alert-success" role="alert">
            Datos actualizados correctamente.
            <div style="text-align: right;margin-top:-25px">
              <span (click)="CerrarD();" style="background-color: azure; padding:5px 10px">X</span>
            </div>
        </div>     
    
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    

      <div class="card">
        <div class="card-header">
          <h3 style="text-align:center;margin: 5px">Listado de Propiedades</h3>
        </div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>
                  <input type="checkbox">
              </th>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr id="ttd" *ngFor="let prop of listProperties">
              <th>
                  <input (click)="obtenerFila(i)" attr. type="checkbox">
              </th>
              <th scope="row"></th>
              <td>{{ prop.propertyName }}</td>
              <td></td>
            </tr>
            <tr *ngIf="list == 0">
              <td class="text-center" colspan="5">No se han encontado resultados</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <br>
      <div style="text-align: right">
        <button (click)="borrarFila()" type="button" class="btn btn-danger">Borrar</button>
      </div> 
    </div>

    <app-anadir></app-anadir>
