<nav aria-label="breadcrumb">
    <ol style="text-align: center" class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>

  <div style="float:right;margin-top: -50px; margin-right: 200px;clear: both;">
    <span>Usuario: {{ usuario }}</span>
  </div>