<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Responsive Login Template</title>
  
  
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body{
        background-color: #f1f1f1;
      }
      .form{
        margin: 50px auto;
        padding: 25px 20px;
        background: #333;
        box-shadow: 2px 2px 4px #a5a5a5;
        border-radius: 5px;
        color: #fff;
      }
      .form h2{
        margin-top: 0px;
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-radius: 10px;
      }
      .footer{
        padding: 10px;
      }
    </style>
  </head> 
  
<div *ngIf="login">
 <form [formGroup]="loginForm">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3">
        <div class="bslf form">
          
            <h2 class="text-center">Please login</h2>       
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Username" formControlName="usuario" required>
                <p *ngIf="usuarioVacio" style="color: #dc1430">Por favor ingrese su usuario.</p>
              </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" formControlName="clave" required>
              <p *ngIf="claveVacia" style="color: #dc1430">Por favor ingrese su contraseña.</p>
            </div>

            <div *ngIf="datosInvalidos" id="invalid" class="alert alert-danger" style="padding: 10px" role="alert">
              Usuario o Contraseña invalidos.
              <div (click)="ocultarInvalid()" class="ivalid">X</div>
            </div>

            <div class="form-group clearfix">
              <label class="checkbox-inline pull-left"><input type="checkbox"> Remember me</label>
              <input (click)="soapCall()" type="submit" class="btn btn-primary pull-right" value="Log in">
            </div>
            <div class="clearfix">
              <a href="forgot-password.html" class="pull-left">Forgot Password?</a>
              <a href="registration.html" class="pull-right">Create an Account</a>
            </div>        
          
        </div>
      </div>
    </div>
  </div>
  </form>
  
  <div class="navbar-default navbar-fixed-bottom">
    <div class="text-center footer">Copyright © 2018 Code Reinaldo. All Right Reserved.</div>
  </div>
</div>  

  <app-menu *ngIf="menu"></app-menu>
  <app-listar *ngIf="listar"></app-listar>